/* ==========================================================================
   reset
============================================================================ */


a {
    text-decoration: none;
}

input {
    outline: none;
}

/* ==========================================================================
   function
============================================================================ */

.f-csp {
    cursor: pointer;
}

.f-dn {
    display: none;
}
