.f-dn {
    display: none;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-csp {
    cursor: pointer;
}

.f-pr {
    position: relative;
}

/**
 * 清除浮动
 */

.f-clearfix::before,
.f-clearfix::after {
    content: " ";
    display: table;
}

.f-clearfix::after {
    clear: both;
}
