body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    font: 14px/1.4286 "Microsoft YaHei";
}

/**
 * main
 */

.main-title {
    padding: 20px;

    text-align: center;
}

.main {
    flex: 1;
}

/**
 * footer
 */

.footer {
    color: #a2a4a5;

    background: #2c3339;
}

.footer-container {
    width: 1200px;

    margin: 0 auto;
    padding: 80px 0;
}

.footer-column {
    float: left;
}

.footer-column-copyright {
    width: 600px;
}

.footer-column-links,
.footer-column-about,
.footer-column-more {
    width: 170px;
    margin-left: 30px;
}

.footer-title {
    margin: 0;

    font-weight: bold;
    font-size: 100%;
}

.footer-link {
    display: inline-block;

    margin-top: 15px;

    color: #a2a4a5;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copyright-img {
    margin-top: 10px;
}

.footer-copyright-info1 {
    margin-top: 30px;
}

.footer-about-icon-weibo {
    width: 100%;

    background: url(./images/weibo.png) 0 0 no-repeat;
    background-position: 40px;
}
